%h2.aside-hdr.tb-brd.gold-brd.alt-font.gold
  Постоянные акции
- Offer.order('created_at desc').where(discount: true).each do |o|
  .nl-aside-item.nl-aside-item-brd
    %a.onhoverlink.block.black{:href => offer_path(o)}
      .onhover-op
        %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => o.image.aside}/
      %h3
        %span.onhoverlink-signal.thin-link>= o.title
      .text-mini.alt-font.onhoverlink-signal
        = o.lead
.nl-aside-item.nl-aside-item-brd
  %a.onhoverlink.block.black{:href => "/discount"}
    .onhover-op
      %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => "/assets/discount.jpg"}/
    %h3
      %span.onhoverlink-signal.thin-link Дисконтная система
    .text-mini.alt-font.onhoverlink-signal
      Дисконтная система ювелирного Дома «Ремикс», разработана специально для Вашей выгоды, удобства и индивидуальности!