- offers.each do |o|
  .nl-aside-item.nl-aside-item-brd
    %a.onhoverlink.block.black{:href => offer_path(o)}
      %h3.h-article.mb14
        «
        %span.onhoverlink-signal.thin-link>= o.title
        »
      .onhover-op
        %img.img-b.mb8{:alt => "", :src => o.image.aside}/
      .text-mini.alt-font.onhoverlink-signal
        = o.lead
.nl-aside-item.nl-aside-item-brd
  %a.onhoverlink.block.black{:href => "/discount"}
    .onhover-op
      %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => "/assets/discount.jpg"}/
    %h3
      %span.onhoverlink-signal.thin-link Дисконтная система
    .text-mini.alt-font.onhoverlink-signal
      Дисконтная система ювелирного Дома «Ремикс», разработана специально для Вашей выгоды, удобства и индивидуальности!