%h1.txa-c.page-h-anim Новости
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.lb
    - @articles.each_with_index do |article, i|
      = render 'list_item', article: article
      - unless i==(@articles.length-1)
        .gem-sep.gem-sep-linen.nl-mb
          %span.ico.gem-sep-ico

  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{:href => "#"} Акции и скидки
    .nl-aside-item.nl-aside-item-brd
      %a.onhoverlink.block.black{:href => "#"}
      %h3.h-article.mb14
        «
        %span.onhoverlink-signal.thin-link> А вдруг удача
        »
      .onhover-op
        %img.img-b.mb8{:alt => "", :src => "/i/temp/nlpic2.jpg"}/
      .text-mini.alt-font.onhoverlink-signal
        С 3 декабря до 15 января в Ювелирном доме "Ремикс" действует акция "Скидка года"! Кроме этого, каждый покупатель обязательно...
    .nl-aside-item.nl-aside-item-brd
      %a.onhoverlink.block.black{:href => "#"}
      %h3.h-article.mb14
        «
        %span.onhoverlink-signal.thin-link> Выиграй свадебное путешествие в Париж
        »
      .onhover-op
        %img.img-b.mb8{:alt => "", :src => "/i/temp/nlpic3.jpg"}/
      .text-mini.alt-font.onhoverlink-signal
        С 3 декабря до 15 января в Ювелирном доме "Ремикс" действует акция "Скидка года"! Кроме этого, каждый покупатель обязательно...
  / end nl-aside-col