- content_for :javascripts do
  = javascript_include_tag "http://vkontakte.ru/js/api/share.js?9", charset: 'windows-1251'
%h1.txa-c.page-h-anim Новости
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  .nl-content-col.lb
    - @articles.each_with_index do |article, i|
      = render 'list_item', article: article
      - unless i==(@articles.length-1)
        .gem-sep.gem-sep-linen.nl-mb
          %span.ico.gem-sep-ico

  .nl-aside-col.lb
    %h2.aside-hdr.tb-brd.gold-brd.alt-font
      %a.thin-link.gold{:href => offers_path} Акции и скидки
    = render 'sidebars/offers', offers:  Offer.order('created_at desc').first(2)
