.f18.txa-c По всем вопросам обращайтесь
.f30.mb24.txa-c (391) 219-17-19
#feedback-form-pre.feedback-form-pre
  .f16.mb16 Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
  %a#feedback-form-pre-open-link.feedback-form-open
    %span.dot-link Оставить отзыв
#feedback-form-hsb.feedback-form-hsb.hsb-container
  = form_for Feedback.new, html: {class: %w(nl-top-message feedback-form), id: 'feedback-form'}, remote: true do |f|
    .f-close-cross-pad.txa-c.feedback-form-hdr
      Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
      %span.ico.clcross-ico.f-close-cross
    .f-row-cnt.alt-font
      .f-2col-cnt.f-row.ns
        .f-2col.lb
          .f-lbl-top-c
            %label.f-lbl{:for => "feedbackName"} Ваше имя
          = f.text_field :name, class: %w(f-t-field w100pc)
          .f-remark.f-t-field-remark Например, Иван Петров
        .f-2col.lb
          .f-lbl-top-c
            %label.f-lbl{:for => "feedbackEmail"} Ваша электронная почта
          = f.text_field :email, class: %w(f-t-field w100pc)
          .f-remark.f-t-field-remark Например, itsme@myemail.ru
      .f-row
        .f-lbl-top-c
          %label.f-lbl{:for => "feedbackMessage"} Отзыв
        = f.text_area :text, class: %w(f-t-field f-t-area w100pc)
      #feedback-form-sbmt-cnt.f-row
        %input.btn.btn-big.btn-big-gold{:type => "submit", :value => "Отправить"}/