.sp-pview-col-mid.sp-promos-bkg
  .sp-promos
    .sp-shdr.rbrown.hr-txt
      %span.hr-txt-in.gem-sep-rbrown Акция
    / start-actions
    #sp-promos-slides.sp-promos-slides
      .slider-content
        - @offers.each do |offer|
          = link_to offer, class: %w(sp-promos-link onhoverlink) do
            .sp-promos-hdr
              «
              %span.onhoverlink-signal.white.thin-link>= offer.title
              »
            .sp-promos-i-cnt
              - if offer.slide_image.present?
                = image_tag offer.slide_image.main.url, :class => "sp-promos-i"
              - else
                %img.sp-promos-i{:alt => "", :src => offer.image.main}/
