.page-margin
  .intro-slider.intro-slider-offset.main-menu-margin.wideslider
    .slider-content
      %div
        .relpos.ovh
          .intro-text
            .intro-text-va-m
              Добро пожаловать
              %br>/
              на сайт Ювелирного
              %br>/
              дома «Ремикс»
          %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-01.jpg"}/
      %div
        %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-02.jpg"}/
      %div
        %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-03.jpg"}/
      %div
        %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-04.jpg"}/
.page-margin
  .main-menu-margin
    .sp-previews
      / sp-pview-col
      .sp-pview-col.sp-news-brd
        / news preview
        .sp-news
          .sp-shdr.gold.hr-txt
            %span.hr-txt-in.gem-sep-gold Новости
          .relpos
            #sp-news
              .w100pc.fl
                .sp-news-date 1.04.2013
                .sp-news-txt
                  .sp-news-txt-in
                    %a.black.thin-link{:href => "/pages/news.html"}
                      28 сентября стали известны победители розыгрыша свадебного путешествия в Париж...
              .w100pc.fl
                .sp-news-date 14.04.2013
                .sp-news-txt
                  .sp-news-txt-in
                    %a.black.thin-link{:href => "/pages/news.html"}
                      Cтали известны победители розыгрыша...
              .w100pc.fl
                .sp-news-date 16.04.2013
                .sp-news-txt
                  .sp-news-txt-in
                    %a.black.thin-link{:href => "/pages/news.html"}
                      свадебного путешествия в Париж...
            / end sp-news
            #sp-news-left.sp-news-left
            #sp-news-right.sp-news-right
          / red relpos
          .gem-sep.gem-sep-gold.sp-news-gem-sep
            %span.ico.gem-sep-ico
          .sp-news-all-link
            %a.thin-link.black{:href => "#"} Все новости
        / end news preview
      / end sp-pview-col
      .sp-pview-gap
      / sp-pview-col-mid
      .sp-pview-col-mid.sp-promos-bkg
        / sp-promos
        .sp-promos
          .sp-shdr.rbrown.hr-txt
            %span.hr-txt-in.gem-sep-rbrown Акция
          / start-actions
          #sp-promos-slides.sp-promos-slides
            .slider-content
              %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
              .sp-promos-hdr
                «
                %span.onhoverlink-signal.white.thin-link> Моя греческая свадьба
                »
              .sp-promos-i-cnt
                %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/greek.jpg"}/
              %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
              .sp-promos-hdr
                «
                %span.onhoverlink-signal.white.thin-link> Моя римская свадьба
                »
              .sp-promos-i-cnt
                %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/rome.jpg"}/
              %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
              .sp-promos-hdr
                «
                %span.onhoverlink-signal.white.thin-link> Моя египетская свадьба
                »
              .sp-promos-i-cnt
                %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/egypt.jpg"}/
          / end start-actions
        / end sp-promos
      / end sp-pview-col-mid
      .sp-pview-gap
      / sp-pview-col
      .sp-pview-col.s-black-bkg
        / sp-mag
        .sp-mag
          .sp-shdr.rdgray.hr-txt
            %span.hr-txt-in.gem-sep-rdgray Журнал
          .sp-mag-cur-link
            %a.white.thin-link{:href => "#"} Весна 2013
          .sp-mag-i-cnt
            %a.sp-mag-i-shd{:href => "/pages/magazine.html"}
              %img.sp-mag-i{:alt => "", :src => "/i/temp/mag.jpg"}/
          .sp-mag-arc-link
            %a.white.thin-link{:href => "#"} Архив журнала
        / end sp-mag
      / end sp-pview-col
.page-margin
  #feedback-form-pre.feedback-form-pre
    .f-close-cross-pad.f16.mb14 Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
    %a#feedback-form-pre-open-link.feedback-form-open
      %span.dot-link Оставить отзыв
  #feedback-form-hsb.feedback-form-hsb.hsb-container
    %form#feedback-form.nl-top-message.feedback-form
      .f-close-cross-pad.txa-c.feedback-form-hdr
        Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
        %span.ico.clcross-ico.f-close-cross
      .f-row-cnt.alt-font
        .f-2col-cnt.f-row.ns
          .f-2col.lb
            .f-lbl-top-c
              %label.f-lbl{:for => "feedbackName"} Ваше имя
            %input#feedbackName.f-t-field.w100pc{:name => "feedbackName", :type => "text"}/
            .f-remark.f-t-field-remark Например, Иван Петров
          .f-2col.lb
            .f-lbl-top-c
              %label.f-lbl{:for => "feedbackEmail"} Ваша электронная почта
            %input#feedbackEmail.f-t-field.w100pc{:name => "feedbackEmail", :type => "text"}/
            .f-remark.f-t-field-remark Например, itsme@myemail.ru
        .f-row
          .f-lbl-top-c
            %label.f-lbl{:for => "feedbackMessage"} Отзыв
          %textarea#feedbackmessage.f-t-field.f-t-area.w100pc{:name => "feedbackMessage"}
        #feedback-form-sbmt-cnt.f-row
          %input.btn.btn-big.btn-big-gold{:type => "submit", :value => "Отправить"}/
:javascript
  remix.feedBackForm();
.photo-bkg
  .photo-shadow-top-ptrn
  .photo-shadow-gold
  %h2.h-section.gold.txa-c.mb30.page-h-anim
    %a.gold.thin-link{:href => "/pages/photo.html"} Фото и мероприятия
  .page-margin.txa-c
    .photo-grid.photo-grid-pad
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/702.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/702.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/703.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/703.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/704.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/704.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/705.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/705.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/706.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/706.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/707.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/707.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/708.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/708.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/709.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/709.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/710.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/710.jpg"}/
      .ph-g-item
        %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/711.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
          %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/711.jpg"}/
.sp-map-cnt
  .sp-address-on-map
    .sp-address.page-margin
      %h2.h-section.gold.txa-c.mb24.page-h-anim
        %a.thin-link.gold{:href => "/pages/store-adress.html"} Сеть магазинов
      #sp-address-list.sp-address-list.jst-layout
        .sp-address-item
          .sp-address-item-highlight.sp-address-item-highlight-on{"data-latitude" => "56.011343", "data-longitude" => "92.866605"}
            .h-item ЮД «Ремикс»
            .text-mini
              г. Красноярск
              %span.sp-address-value ул. Перенсона, 23а
              %br/
              +7 (391) 227-06-27, с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.012754", "data-longitude" => "92.87566"}
            .h-item Дом Быта
            .text-mini
              г. Красноярск,
              = succeed "," do
                %span.sp-address-value пр. Мира, 60
              1 этаж,
              %br/
              +7 (391) 227-98-07, понедельник–суббота:
              %br/
              с 10:00–20:00, воскресенье: с 10:00–19:00
              %br/
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.013989", "data-longitude" => "92.856465"}
            .h-item ТЦ «Квант»
            .text-mini
              г. Красноярск,
              %span.sp-address-value ул. Красной Армии, 10
              %br/
              +7 (391) 252-93-22 с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.010313", "data-longitude" => "92.860445"}
            .h-item ЦУМ
            .text-mini
              Красноярск,
              %span.sp-address-value ул. Карла Маркса, 102
              %br/
              +7 (391) 211-01-20, с 10:00–20:00
              %br/
              (без перерыва и выходных)
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "55.98698", "data-longitude" => "92.886297"}
            .h-item На Матросова
            .text-mini
              г. Красноярск,
              %span.sp-address-value ул. Матросова, 14
              %br/
              +7 (391) 294-89-10, понедельник–суббота:
              %br/
        .sp-address-item
          .sp-address-item-highlight{"data-latitude" => "56.00402", "data-longitude" => "92.931501"}
            .h-item ТЦ «Красноярье»
            .text-mini
              %span.sp-address-value.na пр. им. г. «Красноярский рабочий», 120
              г. Красноярск, пр. Красноярский
              %br/
              Рабочий, 120 +7 (391) 295-57-59,
              %br/
              с 10:00–20:00 (без перерыва и выходных)
  #sp-map.sp-map-layout-block