!!!
%html#n
  %head
    %meta{:charset => "UTF-8"}/
    %title Стартовая
    %meta{:content => "", :name => "description"}/
    %meta{:content => "", :name => "keywords"}/
    %meta{:content => "width=1024, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "IE=edge", "http-equiv" => "X-UA-Compatible"}/
    %link{:href => "/assets/remix.css", :media => "screen,tv,projection,print", :rel => "stylesheet", :type => "text/css"}/
    /[if lt IE 8] <link href="/assets/remix-ie.css" rel="stylesheet" media="screen,tv,projection,print" />
    %script{:src => "/js/html5shiv.js", :type => "text/javascript"}
    %script{:src => "/js/jq.js", :type => "text/javascript"}
    %script{:src => "/js/waypoints.min.js"}
    %script{:src => "/js/jquery.mCustomScrollbar.min.js", :type => "text/javascript"}
    %script{:src => "/js/jquery.magnific-popup.min.js"}
    %script{:src => "/js/jquery.bxslider.min.js"}
    %script{:src => "/js/jquery.validate.min.js"}
    %script{:src => "/js/remix.js", :type => "text/javascript"}
    %link{:href => "/i/remix-img-src.png", :rel => "image_src"}/
    %link{:href => "/favicon.ico", :rel => "shortcut icon", :type => "image/x-icon"}/
  %body.body-bkg
    / page-wrp
    .page-wrp.page-width
      / page-cntt
      .page-cntt
        / redblueshadow
        .redblueshadow.top-nav-mar
          #top-nav.page-width
            / s-black-bkg
            .s-black-bkg.top-nav-wrp
              / top nav
              .top-nav.alt-font.jst-layout.page-margin
                %ul.site-nav-col
                  %li.site-nav-item
                    .site-nav-link.top-nav-link.site-nav-link-pad
                      %span.ib.relpos
                        %a.white{:href => "/pages/jewelry-house.html"} О компании
                        %span#about-drop-down-link.top-nav-link-arr-cnt
                          %span.dd-barr-ico.ico
                    %ul#about-drop-down-cnt.site-nav-col.top-nav-cnt.about-top-nav-cnt
                      %li.site-nav-item
                        %a.site-nav-link.site-nav-link-pad.white{:href => "/pages/news.html"} Новости
                      %li.site-nav-item
                        %a.site-nav-link.site-nav-link-pad.white{:href => "/pages/magazine.html"} Журнал
                      %li.site-nav-item
                        %a.site-nav-link.site-nav-link-pad.white{:href => "/pages/edu-center.html"} Ювелирная фабрика
                      %li.site-nav-item
                        %a.site-nav-link.site-nav-link-pad.white{:href => "/pages/contact.html"} Контактная информация
                %ul.site-nav-col
                  %li.site-nav-item
                    %a.site-nav-link.top-nav-link.site-nav-link-pad.white{:href => "/pages/wedding-rings-center.html"} Центр обручальных колец
                %ul.site-nav-col
                  %li.site-nav-item
                    %a.site-nav-link.site-nav-link-pad.top-nav-link.white{:href => "#"} Ювелирный дискаунтер
                %ul.site-nav-col
                  %li.site-nav-item
                    %a.site-nav-link.site-nav-link-pad.top-nav-link.white.txd-n{:href => "#"}
                      %span.txd-u Сеть магазинов
                %ul.site-nav-col
                  %li.site-nav-item
                    %a.site-nav-link.site-nav-link-pad.top-nav-link.white{:href => "/pages/companies.html"} Для компаний
                %ul.site-nav-col
                  %li.site-nav-item
                    %a.site-nav-link.top-nav-link.site-nav-link-pad.light-blue.txd-n{:href => "/pages/wholesale-dept.html"}
                      %span.txd-u.f09.uc Оптовый отдел
              / end top nav
            / end s-black-bkg
        / end redblueshadow
        / site logo header
        .site-logo-header
          %a.site-logo.site-logo-full{:href => "/remix-pre"}
            %span.site-logo-i-cnt
              %img.site-logo-i{:alt => "Ювелирный дом Ремикс", :src => "/i/logo.png"}/
        / end site logo header
        / main-menu
        .main-menu.page-margin
          %nav.main-menu-content.jst-layout
            %a.main-menu-link{:href => "/pages/collection.html"} Коллекции
            %span.main-menu-sep
            %a.main-menu-link{:href => "/pages/actions.html"} Акции и скидки
            %span.main-menu-sep
            %a.main-menu-link{:href => "/pages/photo.html"} Фото и мероприятия
            %span.main-menu-sep
            %a.main-menu-link{:href => "/pages/jewelry-fashion-week.html"} Неделя ювелирной моды
          .menu-top-deco-wrp
            .menu-top-deco
            .menu-top-left-deco
            .menu-top-right-deco
          .menu-center-deco-wrp
            .menu-center-deco
            .menu-center-left-deco
            .menu-center-right-deco
          .menu-bottom-deco-wrp
            .menu-bottom-deco
            .menu-bottom-left-deco
            .menu-bottom-right-deco
        / end main-menu
        / intro-slider
        .page-margin
          .intro-slider.intro-slider-offset.main-menu-margin.wideslider
            .slider-content
              %div
                .relpos.ovh
                  .intro-text
                    .intro-text-va-m
                      Добро пожаловать
                      %br>/
                      на сайт Ювелирного
                      %br>/
                      дома «Ремикс»
                  %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-01.jpg"}/
              %div
                %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-02.jpg"}/
              %div
                %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-03.jpg"}/
              %div
                %img.intro-slider-i{:alt => "", :src => "/i/temp/intro-slider/intro-slider-i-04.jpg"}/
        / end intro-slider
        / sp-previews
        .page-margin
          .main-menu-margin
            .sp-previews
              / sp-pview-col
              .sp-pview-col.sp-news-brd
                / news preview
                .sp-news
                  .sp-shdr.gold.hr-txt
                    %span.hr-txt-in.gem-sep-gold Новости
                  .relpos
                    #sp-news
                      .w100pc.fl
                        .sp-news-date 1.04.2013
                        .sp-news-txt
                          .sp-news-txt-in
                            %a.black.thin-link{:href => "/pages/news.html"}
                              28 сентября стали известны победители розыгрыша свадебного путешествия в Париж...
                      .w100pc.fl
                        .sp-news-date 14.04.2013
                        .sp-news-txt
                          .sp-news-txt-in
                            %a.black.thin-link{:href => "/pages/news.html"}
                              Cтали известны победители розыгрыша...
                      .w100pc.fl
                        .sp-news-date 16.04.2013
                        .sp-news-txt
                          .sp-news-txt-in
                            %a.black.thin-link{:href => "/pages/news.html"}
                              свадебного путешествия в Париж...
                    / end sp-news
                    #sp-news-left.sp-news-left
                    #sp-news-right.sp-news-right
                  / red relpos
                  .gem-sep.gem-sep-gold.sp-news-gem-sep
                    %span.ico.gem-sep-ico
                  .sp-news-all-link
                    %a.thin-link.black{:href => "#"} Все новости
                / end news preview
              / end sp-pview-col
              .sp-pview-gap
              / sp-pview-col-mid
              .sp-pview-col-mid.sp-promos-bkg
                / sp-promos
                .sp-promos
                  .sp-shdr.rbrown.hr-txt
                    %span.hr-txt-in.gem-sep-rbrown Акция
                  / start-actions
                  #sp-promos-slides.sp-promos-slides
                    .slider-content
                      %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
                      .sp-promos-hdr
                        «
                        %span.onhoverlink-signal.white.thin-link> Моя греческая свадьба
                        »
                      .sp-promos-i-cnt
                        %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/greek.jpg"}/
                      %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
                      .sp-promos-hdr
                        «
                        %span.onhoverlink-signal.white.thin-link> Моя римская свадьба
                        »
                      .sp-promos-i-cnt
                        %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/rome.jpg"}/
                      %a.sp-promos-link.onhoverlink{:href => "/pages/actions.html"}
                      .sp-promos-hdr
                        «
                        %span.onhoverlink-signal.white.thin-link> Моя египетская свадьба
                        »
                      .sp-promos-i-cnt
                        %img.sp-promos-i{:alt => "", :src => "/i/temp/actions-slider/egypt.jpg"}/
                  / end start-actions
                / end sp-promos
              / end sp-pview-col-mid
              .sp-pview-gap
              / sp-pview-col
              .sp-pview-col.s-black-bkg
                / sp-mag
                .sp-mag
                  .sp-shdr.rdgray.hr-txt
                    %span.hr-txt-in.gem-sep-rdgray Журнал
                  .sp-mag-cur-link
                    %a.white.thin-link{:href => "#"} Весна 2013
                  .sp-mag-i-cnt
                    %a.sp-mag-i-shd{:href => "/pages/magazine.html"}
                      %img.sp-mag-i{:alt => "", :src => "/i/temp/mag.jpg"}/
                  .sp-mag-arc-link
                    %a.white.thin-link{:href => "#"} Архив журнала
                / end sp-mag
              / end sp-pview-col
        / end sp-previews
        / page-margin
        .page-margin
          #feedback-form-pre.feedback-form-pre
            .f-close-cross-pad.f16.mb14 Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
            %a#feedback-form-pre-open-link.feedback-form-open
              %span.dot-link Оставить отзыв
          / feedback-form-hsb
          #feedback-form-hsb.feedback-form-hsb.hsb-container
            / feedback-form
            %form#feedback-form.nl-top-message.feedback-form
              .f-close-cross-pad.txa-c.feedback-form-hdr
                Мы стремимся к совершенству, поэтому нам важно знать ваше мнение о нашей работе.
                %span.ico.clcross-ico.f-close-cross
              / f-row-cnt
              .f-row-cnt.alt-font
                / f-2col-cnt
                .f-2col-cnt.f-row.ns
                  / f-2col
                  .f-2col.lb
                    .f-lbl-top-c
                      %label.f-lbl{:for => "feedbackName"} Ваше имя
                    %input#feedbackName.f-t-field.w100pc{:name => "feedbackName", :type => "text"}/
                    .f-remark.f-t-field-remark Например, Иван Петров
                  / end f-2col
                  / f-2col
                  .f-2col.lb
                    .f-lbl-top-c
                      %label.f-lbl{:for => "feedbackEmail"} Ваша электронная почта
                    %input#feedbackEmail.f-t-field.w100pc{:name => "feedbackEmail", :type => "text"}/
                    .f-remark.f-t-field-remark Например, itsme@myemail.ru
                  / end f-2col
                / end f-2col-cnt
                .f-row
                  .f-lbl-top-c
                    %label.f-lbl{:for => "feedbackMessage"} Отзыв
                  %textarea#feedbackmessage.f-t-field.f-t-area.w100pc{:name => "feedbackMessage"}
                #feedback-form-sbmt-cnt.f-row
                  %input.btn.btn-big.btn-big-gold{:type => "submit", :value => "Отправить"}/
                / end f-row
              / end f-row-cnt
            / end feedback-form
          / end hsb-container
        / end page-margin
        :javascript
          remix.feedBackForm();        / photo-bkg
        .photo-bkg
          .photo-shadow-top-ptrn
          .photo-shadow-gold
          / page-margin
          %h2.h-section.gold.txa-c.mb30.page-h-anim
            %a.gold.thin-link{:href => "/pages/photo.html"} Фото и мероприятия
          .page-margin.txa-c
            / photo-grid
            .photo-grid.photo-grid-pad
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/702.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/702.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/703.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/703.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/704.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/704.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/705.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/705.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/706.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/706.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/707.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/707.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/708.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/708.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/709.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/709.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/710.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/710.jpg"}/
              .ph-g-item
                %a.ph-g-i-l{:href => "/i/temp/photo-gallery-001/711.jpg", :title => "Встреча участниц фестиваля невест «На крыльях ангелов любви»"}
                  %img.ph-g-i{:alt => "", :src => "/i/temp/photo-gallery-001-sm/711.jpg"}/
            / end photo-grid
          / end page-margin
        / end photo-bkg
        / sp-map-cnt
        .sp-map-cnt
          / sp-address-cnt
          .sp-address-on-map
            / sp-address
            .sp-address.page-margin
              %h2.h-section.gold.txa-c.mb24.page-h-anim
                %a.thin-link.gold{:href => "/pages/store-adress.html"} Сеть магазинов
              / sp-address-list
              #sp-address-list.sp-address-list.jst-layout
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight.sp-address-item-highlight-on{"data-latitude" => "56.011343", "data-longitude" => "92.866605"}
                    .h-item ЮД «Ремикс»
                    .text-mini
                      г. Красноярск
                      %span.sp-address-value ул. Перенсона, 23а
                      %br/
                      +7 (391) 227-06-27, с 10:00–20:00
                      %br/
                      (без перерыва и выходных)
                / end sp-address-item
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight{"data-latitude" => "56.012754", "data-longitude" => "92.87566"}
                    .h-item Дом Быта
                    .text-mini
                      г. Красноярск,
                      = succeed "," do
                        %span.sp-address-value пр. Мира, 60
                      1 этаж,
                      %br/
                      +7 (391) 227-98-07, понедельник–суббота:
                      %br/
                      с 10:00–20:00, воскресенье: с 10:00–19:00
                      %br/
                / end sp-address-item
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight{"data-latitude" => "56.013989", "data-longitude" => "92.856465"}
                    .h-item ТЦ «Квант»
                    .text-mini
                      г. Красноярск,
                      %span.sp-address-value ул. Красной Армии, 10
                      %br/
                      +7 (391) 252-93-22 с 10:00–20:00
                      %br/
                      (без перерыва и выходных)
                / end sp-address-item
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight{"data-latitude" => "56.010313", "data-longitude" => "92.860445"}
                    .h-item ЦУМ
                    .text-mini
                      Красноярск,
                      %span.sp-address-value ул. Карла Маркса, 102
                      %br/
                      +7 (391) 211-01-20, с 10:00–20:00
                      %br/
                      (без перерыва и выходных)
                / end sp-address-item
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight{"data-latitude" => "55.98698", "data-longitude" => "92.886297"}
                    .h-item На Матросова
                    .text-mini
                      г. Красноярск,
                      %span.sp-address-value ул. Матросова, 14
                      %br/
                      +7 (391) 294-89-10, понедельник–суббота:
                      %br/
                      с 10:00–19:00, воскресенье: с 10:00–17:00
                / end sp-address-item
                / sp-address-item
                .sp-address-item
                  .sp-address-item-highlight{"data-latitude" => "56.00402", "data-longitude" => "92.931501"}
                    .h-item ТЦ «Красноярье»
                    .text-mini
                      %span.sp-address-value.na пр. им. г. «Красноярский рабочий», 120
                      г. Красноярск, пр. Красноярский
                      %br/
                      Рабочий, 120 +7 (391) 295-57-59,
                      %br/
                      с 10:00–20:00 (без перерыва и выходных)
                / end sp-address-item
              / sp-address-list
            / end sp-address
          / end sp-address-cnt
          #sp-map.sp-map-layout-block
        / end sp-map-cnt
      / end page-cntt
    / end page-wrp
    / page-ftr
    %footer.page-ftr.page-width
      .footer.s-black-bkg
        / page-margin
        .page-margin
          / bottom menu
          .bottom-menu.brd-bottom.gray20-brd.jst-layout
            %a.bottom-menu-link.pl0{:href => "/pages/collection.html"} Коллекции
            %span.bottom-menu-sep
            %a.bottom-menu-link{:href => "/pages/actions.html"} Акции и скидки
            %span.bottom-menu-sep
            %a.bottom-menu-link{:href => "/pages/photo.html"} Фото и мероприятия
            %span.bottom-menu-sep
            %a.bottom-menu-link.pr0{:href => "#"} Неделя ювелирной моды
          / end bottom menu
          / site-nav
          .site-nav.alt-font.jst-layout
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/jewelry-house.html"} О компании
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/news.html"} Новости
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/magazine.html"} Журнал
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/edu-center.html"} Ювелирная фабрика
              %li.site-nav-item
                %a.site-nav-link.white{:href => "#"} Дизайн-студия
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/edu-center.html"} Учебный центр
              %li.site-nav-item
                %a.site-nav-link.white{:href => "#"} Сувенирная продукция
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/contact.html"} Контактная информация
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/wedding-rings-center.html"} Центр обручальных колец
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/wedding-photo-shoot.html"} Свадебная фотосессия
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "#"} Ювелирный дискаунтер
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/store-adress.html"} Сеть магазинов
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/store-adress.html"} Адреса магазинов
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/companies.html"} Для компаний
            %ul.site-nav-col
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/wholesale-dept.html"} Оптовый отдел
              %li.site-nav-item
                %a.site-nav-link.white{:href => "/pages/collection.html"} Каталог продукции
          / end site-nav
          .gem-sep.gem-sep-gray20.mb18.mt8
            %span.ico.gem-sep-ico
          / footer contcat
          .footer-contact.alt-font.brd-bottom.gray20-brd
            %div г. Красноярск, ул. Перенсона, 23а
            %div +7 (391) 227-06-27, info@af-remix.ru
            .footer-contact-link-cnt
              %a.white{:href => "#"} Контактная информация
            %a.footer-logo{:href => "/remix-pre"}
              %img.footer-logo-i{:alt => "Ремикс ювелирный дом", :src => "/i/logo-footer.png"}/
          / end footer contcat
          / footer-end
          .footer-end.alt-font
            %span.abspos.t0.l0.mt2 © Ремикс. 2013
            Ювелирный дом «Ремикс» в соц. сетях
            %a.ml4.va-m.ib{:href => "#", :rel => "nofollow", :target => "_blank"}
              %span.ico.fb-ico-white
            %a.ml4.va-m.ib{:href => "#", :rel => "nofollow", :target => "_blank"}
              %span.ico.vk-ico-white
            %a.ml4.va-m.ib{:href => "#", :rel => "nofollow", :target => "_blank"}
              %span.ico.inst-ico-white
            %span.abspos.t0.r0.mt2
              Дизайн
              %a.white{:href => "http://to-mars.com/", :rel => "nofollow", :target => "_blank"} to-mars.com
          / end footer-end
        / end page-margin
      / footer s-black-bkg
    / end page-ftr