.nl-aside-col.lb
  %h2.aside-hdr.tb-brd.gold-brd.alt-font.gold
    %a.thin-link.gold{:href => "/subscribe"} Подписка
  %a.nl-aside-item.nl-aside-item-brd.onhoverlink.block.nb{:href => "/subscribe"}
    .onhover-op
      %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => "/assets/magsubscr.jpg"}/
    .h-item
      %span.onhoverlink-signal.black.thin-link Свежий номер лично в руки!
  %h2.aside-hdr.tb-brd.gold-brd.alt-font.gold
    Команда
  .human-item.txa-c
    .human-i-cnt
      %img.img-b.bc{:alt => "", :src => "/assets/mngr/mngr1.jpg"}/
    .human-name
      Леонова Ирина Юрьевна
    .human-title.alt-font
      руководитель оптового отдела
      %br/
      +7 (391) 227-84-01
      %br/
      %a{:href => "mailto:lia@af-remix.ru"} lia@af-remix.ru
  .human-item.txa-c
    .human-i-cnt
      %img.img-b.bc{:alt => "", :src => "/assets/mngr/mngr2.jpg"}/
    .human-name
      Чакова Светлана Николаевна
    .human-title.alt-font
      старший менеджер оптового отдела
      %br/
      +7 (391) 227-84-01
      %br/
      %a{:href => "mailto:lsnc@af-remix.ru"} snc@af-remix.ru
  .human-item.txa-c
    .human-i-cnt
      %img.img-b.bc{:alt => "", :src => "/assets/mngr/mngr3.jpg"}/
    .human-name
      Мамонтова Елена Геннадьевна
    .human-title.alt-font
      менеджер оптового отдела
      %br/
      +7 (391) 227-84-01
      %br/
      %a{:href => "mailto:meg@af-remix.ru"} meg@af-remix.ru
  .human-item.txa-c
    .human-name
      Адрес редакции и издателя
    .human-title.alt-font
      660049, г. Красноярск,
      ул. Перенсона, 23а
      %br/
      Горячая линия:
      (391) 227-54-41, 227-06-27,
      %a{:href => "mailto:meg@af-remix.ru"} ivan@af-remix.ru