.nl-aside-col.lb
  %h2.aside-hdr.tb-brd.gold-brd.alt-font.gold
    %a.thin-link.gold{:href => "/subscribe"} Подписка
  %a.nl-aside-item.nl-aside-item-brd.onhoverlink.block.nb{:href => "/subscribe"}
    .onhover-op
      %img.img-b.nl-aside-item-img.mb2{:alt => "", :src => "/assets/magsubscr.jpg"}/
    .h-item
      %span.onhoverlink-signal.black.thin-link Свежий номер лично в руки!
  .human-item.txa-c
    .human-name
      Главный редактор
    .human-title.alt-font
      Бурда Иван Валерьевич
      %br
      %a{:href => "mailto:meg@af-remix.ru"} ivan@remixgold.ru
  .human-item.txa-c
    .human-i-cnt
      %img.img-b.bc{:alt => "", :src => "/assets/mngr/ivan.jpg"}/
    .human-name
      Адрес редакции и издателя
    .human-title.alt-font
      660049, г. Красноярск,
      ул. Перенсона, 23а
      %br/
      Горячая линия:
      +7 (391) 227-54-41, 227-06-27
