.h-section.page-h-anim.txa-c О компании
= render "shared/submenus/about"
/ end sub-menu
.content-shadow.mb12
/ page-margin content-margin
.page-margin.content-margin.ns
  / nl-content-col
  .nl-content-col.lb
    / text
    .text-mini.nl-mb
      %h2 Ювелирный дом «Ремикс»
      / nl-4col-cnt
      .nl-4col-cnt.ns.mb14.alt-font
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Валерий Иванович
          %br/
          Генеральный директор
          %br/
          +7 (391) 227-54-41
          %br/
          %a{:href => "mailto:bvi@af-remix.ru"} bvi@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Иван Валерьевич
          %br/
          Исполнительный директор
          %br/
          +7 (391) 227-06-27
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Карабаева Елена Анатольевна
          %br/
          Коммерческий директор
          %br/
          +7 (391) 227-04-31
          %br/
          ???@af-remix.ru
        / end nl-4col
      / end nl-4col-cnt
      .gem-sep.gem-sep-linen.mb18
        %span.ico.gem-sep-ico
      %h2 Ювелирная фабрика
      / nl-4col-cnt
      .nl-4col-cnt.ns.mb14.alt-font
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Иван Валерьевич
          %br/
          Исполнительный директор
          %br/
          +7 (391) 227-06-27
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
        / end nl-4col
      / end nl-4col-cnt
      %h3 Учебный центр
      .nl-4col-cnt.ns.mb14.alt-font
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
      / end nl-4col-cnt
      .gem-sep.gem-sep-linen.mb18
        %span.ico.gem-sep-ico
      %h2 Организация свадебной фотосессии
      .nl-4col-cnt.ns.mb14.alt-font
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
      .gem-sep.gem-sep-linen.mb18
        %span.ico.gem-sep-ico
      %h2 Сеть салонов «Ремикс»
      / nl-4col-cnt
      .nl-4col-cnt.ns.mb14.alt-font
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Валерий Иванович
          %br/
          Генеральный директор
          %br/
          +7 (391) 227-54-41
          %br/
          %a{:href => "mailto:bvi@af-remix.ru"} bvi@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Иван Валерьевич
          %br/
          Исполнительный директор
          %br/
          +7 (391) 227-06-27
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Карабаева Елена Анатольевна
          %br/
          Коммерческий директор
          %br/
          +7 (391) 227-04-31
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Валерий Иванович
          %br/
          Генеральный директор
          %br/
          +7 (391) 227-54-41
          %br/
          %a{:href => "mailto:bvi@af-remix.ru"} bvi@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Иван Валерьевич
          %br/
          Исполнительный директор
          %br/
          +7 (391) 227-06-27
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Карабаева Елена Анатольевна
          %br/
          Коммерческий директор
          %br/
          +7 (391) 227-04-31
          %br/
          ???@af-remix.ru
        / end nl-4col
      / end nl-4col-cnt
      .gem-sep.gem-sep-linen.mb18
        %span.ico.gem-sep-ico
      %h2 Сотрудничество с компаниями
      .nl-4col-cnt.ns.mb14.alt-font
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
      .gem-sep.gem-sep-linen.mb18
        %span.ico.gem-sep-ico
      %h2 Оптовый отдел
      / nl-4col-cnt
      .nl-4col-cnt.ns.mb14.alt-font
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Валерий Иванович
          %br/
          Генеральный директор
          %br/
          +7 (391) 227-54-41
          %br/
          %a{:href => "mailto:bvi@af-remix.ru"} bvi@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Бурда Иван Валерьевич
          %br/
          Исполнительный директор
          %br/
          +7 (391) 227-06-27
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Анищенко Ирина Витальевна
          %br/
          Помощник генерального директора
          %br/
          +7 (391) 227-54-41
          %br/
          ???@af-remix.ru
        / end nl-4col
        / nl-4col
        .nl-4col.mb14.lb
          Карабаева Елена Анатольевна
          %br/
          Коммерческий директор
          %br/
          +7 (391) 227-04-31
          %br/
          ???@af-remix.ru
        / end nl-4col
      / end nl-4col-cnt
    / end text
  / end nl-content-col
  / nl-aside-col
  .nl-aside-col.lb
  / end nl-aside-col