.h-section.page-h-anim.txa-c О компании
= render "shared/submenus/about"
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.lb
    .text-mini.nl-mb
      - @contact_groups.each_with_is_last do |group, is_last|
        %h2= group.name
        .nl-4col-cnt.ns.mb14.alt-font
          - group.contacts.each do |contact|
            .nl-4col.mb14.lb
              != contact.content
        - unless is_last
          .gem-sep.gem-sep-linen.mb18
            %span.ico.gem-sep-ico


  .nl-aside-col.lb
