- with_first_separator ||= false
= render 'separator' if with_first_separator
- @albums.each_with_index do |album, i|
  = render 'list_item', album: album
  - unless i==(@albums.length-1)
    = render 'separator'