%h1.page-h-anim.txa-c Фото и мероприятия
.sub-menu.alt-font
  %a.sub-menu-link.black{:href => albums_path, class: (params[:tag].present? ? nil : 'sub-menu-link-select')} Все мероприятия
  - Album.tag_counts.each do |tag|
    %a.sub-menu-link.black{href: tag_albums_path(tag.name), class: (params[:tag]==tag.name ? 'sub-menu-link-select' : nil)}= tag.name
.photo-bkg
  .photo-shadow-bkg
    .photo-shadow-top-ptrn
    .photo-shadow-gold
  .page-margin.content-margin
    #albums_container
      = render 'list_item', album: @album, whole_content: true
