.page-margin.content-margin.ns
  .nl-content-col.text.lb
    .text
      %h2 Поздравляем! Вы успешно подтвердили подписку на наш журнал.
    .txa-c.nl-mb
      .dissolve-accent.dissolve-accent-gold
        = link_to 'Вернуться к журналам', magazines_path, class: 'thin-link black'