.h-section.page-h-anim.txa-c Акции и скидки
= render 'offers/header'
.content-shadow.mb12
.page-margin.content-margin.ns
  .nl-content-col.lb
    .text.text-width.nl-mb
      %h1.rst.h-article Дисконтная система
      .nl-article-menu.alt-font
        %a.nl-am-l.gray50{:href => offers_path} Акции и скидки
        %a.nl-am-l.gray50 Дисконтная система
      != variable :discount_text
    = form_tag card_check_path, id: "check_card_form", class: 'nl-top-message.text-width.alt-font', method: 'get', remote: true do
      .f-lbl.mb8 Узнайте размер вашей скидки
      .gray50.mb12.f11 Номер указан на обороте вашей карточки
      .f-lbl.mb10 Номер вашей карты
      .mb16
        %input.f-t-field{:type => "text", name: :number}/
        %span.red.f18.base-font.ml20#check_card_result
      %input.btn.btn-big.btn-big-gold{:type => "submit", :value => "Узнать"}/
    :javascript
      remix.magsubscribeform();
  .nl-aside-col.lb
