.nl-180-col-wm.scbl-cell.mb16.lb
  .brd-i-cnt.mb8
    %img.img-b{:alt => supplier.title, :src => supplier.image.main.url}/
  .text-mini.alt-font
    = supplier.description
    .mt10
      %a.black.thin-link{:href => "#"} Изделия поставщика